emacs/auto-save-list
emacs/config.org~
emacs/config.el~
emacs/init.el~
emacs/.org-id-locations
emacs/org-roam.db
emacs/bookmarks
emacs/projectile-bookmarks.eld
emacs/recentf
emacs/tramp
emacs/request
emacs/url
emacs/elpaca
emacs/elpa
fish/splash.txt
