emacs/auto-save-list
emacs/.org-id-locations
emacs/org-roam.db
emacs/bookmarks
emacs/projectile-bookmarks.eld
emacs/recentf
emacs/bookmarks
emacs/tramp
emacs/request
emacs/url
emacs/elpaca
emacs/elpa
hypr/monitors.conf
hypr/hyprpaper.conf
fish/splash.txt
