#waybar {
  background: rgba(33,33,33,33);
  color: #dddddd;
}

#idle_inibitor.activated {
  background-color: #285577;
}

button {
  border: none;
  border-radius: 0;
  box-shadow: inset 0 -3px transparent;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#power-profiles-daemon,
#mpd {
    padding: 0 3px;
}

button:hover {
  background: inherit;
}

/* give modules right hand margin */
.modules-right {
  background: rgba(33,33,33,33);
  margin-right: 10px;
}

*{
  font-family: FiraCodeNerdFont, FontAwesome; 
  font-size: 12.5px;
}
